

/****左侧菜单*****/
.sidebar,.sidebar .panel-body{background:#f2f4f9 !important;}
/****logo部分*****/
.logo-box a{
    width: 100%;
    height: 46px;
    display: block;
    color: #e4edfc;
    font-size: 20px;
    padding-top: 8px;
    box-sizing: border-box;
    padding-left: 35px;
   	background: url(../images/logo.png) 8px 10px no-repeat #244180;
    border-bottom: 1px solid #244180;
    border-right: 1px solid #244180;
}
/****个人中心*****/
.personal-center{
	height: 130px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 15px;
	background: url(../images/line.png) center bottom no-repeat #e7eef9;
    border-right: 1px solid #d9d9d9;
}
.personal-center .img-box{
	width:100%;
	height: 50px;
	margin-bottom: 10px;
	background: url(../images/person.png) center center no-repeat #e7eef9;
}
.personal-center a{color: #3965a4;}
.personal-center a:hover{ text-decoration: underline;}

/************滚动条***************/
#menuMain .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#395a9d !important;
    width: 4px;
}
/****左侧菜单*****/
.menu-main{
	width:100%;
    box-sizing: border-box;
    border-right:1px solid #cad6f0;
}
.menu-main ul li a:hover{background: #e9ebf8;}
.menu-main ul li a.active{background:#4c6fb6;;color:#fff;}
.menu-main ul li a.active:hover{background:#4c6fb6;}
.menu-main ul li.erji-list a:hover{background: #e9ebf8 !important;}
.menu-main ul li.erji-list a.active:hover{background:#4c6fb6 !important;}
.menu-main ul li.erji-list a{cursor: pointer !important;}
.menu-main .l-btn-left,
.menu-main .l-btn-left span.l-btn-text{
	width: 100% !important;
    height: 100% !important;
    color: #62708c;
    text-align: left;
    margin: 0 !important;
    font-size: 13px;
}
.menu-main .l-btn-left span.m-btn-downarrow,.menu-main .l-btn-left span.m-btn-line{
	display:none;
}
.l-btn-plain:hover,.m-btn-plain-active,.l-btn,.l-btn:hover{
	border:none;
	border-radius:0;
	-moz-border-radius:0;
  	-webkit-border-radius:0;
  	background:none;
}
/****一级菜单*****/
.menu-yiji{margin-top:10px;}
.menu-yiji .yiji-list a{
    color: #0b214f;
    font-size: 16px;
    padding: 10px;
    display: block;
}
/****一级菜单 左侧图标 *****/
.menu-yiji .yiji-list a .icon{
    color: #0b214f;
    font-size: 15px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.menu-yiji .yiji-list.jiankong a .icon{
    background:url(../images/jiankong.png) no-repeat;
}
.menu-yiji .yiji-list.jiankong a.active .icon{
    background-position-x:-16px;
}
/****二级菜单 *****/
.menu-erji{
	display:none;
	background: #f8f9fc;
	padding:5px 0;
    min-height: 150px;
    box-sizing: border-box;
}
.menu-erji .erji-list a{
    font-size: 14px;
    padding: 8px 10px;
    padding-left:28px;
    display: block;
    color:#62708c;
}
.menu-main .erji-list a.easyui-menubutton.l-btn.l-btn-plain{
	padding:6px 10px 5px 28px;
    height: auto !important;
    border: none;
}
.menu-erji .erji-list a.on{
	color: #0e59bf;
    font-weight: bold;
}
.menu-erji .erji-list a.active{
	color: #fff;
    background: #4c6fb6;
}
.menu-erji .erji-list a.active *{
	color: #fff;
}
/****二级菜单 左侧图标 *****/
.menu-erji .erji-list a span{
    width: 16px;
    height: 16px;
    margin-right:2px;
    display: inline-block;
    vertical-align: middle;
}
.menu-erji .erji-list a .sanjiao-icon{
    background:url(../images/sanjiao.png) left top no-repeat;
}
.menu-erji .erji-list a.on .sanjiao-icon{
    background-position-x:-16px;
}
/****三级菜单 *****/
.menu-sanji{
    display: none;
}
.menu-sanji .sanji-list a{
    font-size: 13px;
    padding: 6px 10px 6px 66px;
    display: block;
    color: #62708c;
}
.menu-main .sanji-list a.easyui-menubutton.l-btn.l-btn-plain{
    padding: 3px 10px 2px 66px;
    height: auto !important;
}
/*****弹框的菜单右侧图标******/
.menu-erji .erji-list a i.fa-ellipsis-h,
.menu-sanji .sanji-list a i.fa-ellipsis-h{
	color:#62708c;
	margin-top:5px;
}
.menu-erji .erji-list a.active i.fa-angle-right,
.menu-sanji .sanji-list a.active i.fa-angle-right{
	color:#fff;
	margin-top:5px;
}

/*************右侧弹出菜单***************/
.menu-shadow{box-shadow: 2px 2px 3px #e5e5e5;}
.menu-dialog{
	height:calc(100vh - 46px) !important;
	padding:0;
	border:none;
	border-right:1px solid #a3b8d6;
	background:#fff;
	min-width:170px !important;
    left: 190px !important;
    top: 46px !important;
}
.menu-dialog .title{
	padding:10px 5px;
	padding-top: 20px;
	color:#0e59bf;
	font-size:16px;
	border-bottom:1px solid #3d84e2;
    margin: 0 8px;
	margin-bottom:5px;
}

/****弹出一级菜单 *****/
.menuDialog-yiji .yiji-list a{
	padding:8px 10px;
	padding-left:12px;
	color:#333;
	font-size:13px;
    display: block;
    padding-left:12px;
}
/****弹出一级菜单 左侧图标 *****/
.menuDialog-yiji li a:hover{background:#f2f4f9;}
.menuDialog-yiji li a.active{color:#0e59bf;background:#f2f4f9;}
.menuDialog-yiji .yiji-list a span{
    width: 16px;
    height: 16px;
    margin-right:2px;
    display: inline-block;
    vertical-align: middle;
}
.menuDialog-yiji .yiji-list a .sanjiao-icon{
    background:url(../images/sanjiao.png) left -16px no-repeat;
}
.menuDialog-yiji .yiji-list a .sanjiao-icon.on{
    background-position-x:-16px;
}
/****弹出二级菜单 *****/
.menuDialog-erji{display:none;}
.menuDialog-erji .erji-list a{
	padding:6px 10px;
	color:#999;
	padding-left:48px;
}


/****树展开*****/
.ztree{background:url(../images/menu_erji.png) left bottom repeat-x #f5f7fb;padding-left: 8px;}
/*root*/
.ztree li a:hover {
    text-decoration: none;
}
.ztree li span.button.diyRoot_ico_open, .ztree li span.button.diyRoot_ico_close{margin-right:2px; background: url(../images/root.png) no-repeat}
/*文件*/
.ztree li span.button.diyFile_ico_open{margin-right:2px; background: url(../images/leaf.png) no-repeat}
.ztree li span.button.diyFile_ico_close{margin-right:2px; background: url(../images/leaf.png) no-repeat}
.ztree li span.button.diyFile_ico_docu{margin-right:2px; background: url(../images/leaf.png) no-repeat}
/*审核*/
.ztree li span.button.diyAudit_ico_open{margin-right:2px; background: url(../images/aduit.png) no-repeat}
.ztree li span.button.diyAudit_ico_close{margin-right:2px; background: url(../images/aduit.png) no-repeat}
.ztree li span.button.diyAudit_ico_docu{margin-right:2px; background: url(../images/aduit.png) no-repeat}

.ztree li span.button.diy01_ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy01_ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}

.ztree li span.button.diy01_ico_docu{margin-right:2px; background: url(../images/leaf.png) no-repeat}